@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&family=Playfair+Display&display=swap');

$montserrat : 'Montserrat', sans-serif;
$playfair : 'Playfair Display', serif;
$open : 'Open Sans', sans-serif;

$base-color: black;
$button-color:#1005FF;
$white:white;

